.header {
  height: 9vh;
  background-color: #0b0b0b;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  @media screen and (max-width: 600px) {
    justify-content: center;
  }
}
