.header{
    height: 9vh;
    background-color: #c2a6e5;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
@media screen  and (max-width: 600px){
    .header{
        justify-content: center;
    }
}