.hiring{
    height: 35vh;
    background-color: #0b0b0b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.hiringCont{
    width: 80%;
    height: 55%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.title{
    color: #fff;
    margin: 0;
    font-family: '-apple-system', sans-serif;
    font-size: 60px;
}
.foot{
    color: #fff;
    margin: 0;
    font-family: '-apple-system', sans-serif;
    font-size: 35px;
    font-weight: 700;
}