.skills {
    height: 100vh;
    background-color: #0b0b0b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.skillsCont {
    width: 80%;
    height: 75%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title {
    margin: 0;
    color: #fff;
    font-family: '-apple-system', sans-serif;
    font-size: 60px;


}

.skillsComponentCont {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;

}

@media screen and (min-height: 800px)and (min-width: 768px) and (max-width: 1200px) {
    .skills {
        height: fit-content;
    }

    .skillsComponentCont {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    .skillsCont {
        margin-top: 16%;
        margin-bottom: 16%;

    }
}

@media screen  and (max-width: 600px) {
    .skills {
        height: fit-content;
    }

    .skillsComponentCont {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    .skillsCont {
        margin-top: 27%;
        margin-bottom: 27%;

    }
}
