
.main {
  height: 100vh;
  background-color: #0b0b0b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  flex-wrap: wrap;
  @media screen and (max-width: 600px){
  }
  .mainCont {
    width: 80%;
    height: 75%;
    border: 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media screen and (min-height: 800px) and (min-width: 768px) and (max-width: 1200px) {
      flex-direction: column;
    }
    @media screen and (max-width: 600px) {
      flex-direction: column;

    }

    .hello {
      background-color: #0b0b0b;
      height: 50%;
      margin: 7%;
      border: 1px solid;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @media screen and (min-height: 800px) and (min-width: 768px) and (max-width: 1200px) {
        width: 60%;
        height: 60%;
      }
      @media screen and (max-width: 600px) {
        width: 80%;
        height: 60%;
      }

      .helloIAm {
        color: #fff;
        text-shadow: 8px 8px #222;
        line-height: 160px;
        font-size: 150px;
        font-family: 'Livvic', sans-serif;
        font-weight: 700;
        display: flex;
        justify-content: space-evenly;
        @media screen and (min-width: 768px) and (max-width: 1400px) and (max-height: 900px) {
          font-size: 70px;
          line-height: 100px;
        }
        @media screen and (min-height: 800px) and (min-width: 768px) and (max-width: 1200px){
          font-size: 80px;
          line-height: 80px;
        }
        @media screen and (max-width: 600px){
          font-size: 36px;
          line-height: 40px;
          text-shadow: 4px 4px #222
        }

        .point {
          color: #ffb400;
          text-shadow: 8px 8px #222;
          @media screen and (max-width: 600px){
            text-shadow: 4px 4px #222
          }
        }

        .frontend {
          font-size: 18px;
          text-shadow: 2px 2px #222;
          font-weight: normal;
          padding-left: 20px;
          @media screen and (min-width: 768px) and (max-width: 1400px) and (max-height: 900px){
            font-size: 14px;
            padding-left: 15px;
          }
          @media screen and (min-height: 800px) and (min-width: 768px) and (max-width: 1200px){
            font-size: 15px;
            padding-left: 15px;
          }
          @media screen and (max-width: 600px){
            font-size: 10px;
            padding-left: 5px;
            text-shadow: 1px 1px #222

          }
        }
      }
    }

    .photo {
      width: 30%;
      background-color: #222;
      margin: 7%;
      border: 1px solid;
      border-radius: 15px;
      @media screen and (min-width: 768px) and (max-width: 1400px) and (max-height: 900px){
        width: 35%;
      }
      @media screen and (min-height: 800px) and (min-width: 768px) and (max-width: 1200px) {
        width: 55%
      }
      @media screen and (max-width: 600px) {
        width: 70%
      }
    }
  }
}

