.skillsComponent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 27%;
    height: 100%;
    border: 1px solid;


}

.imageTitle {
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    background-color: #222;
    background-position: center;
    background-size: 95%;
}

.image {
    width: 30%;
    height: 30%;
}


.title {
    background-color: #ffb400;
    border-radius: 50px;
    margin: 0;
    color: #fff;
    padding: 5px 20px;
    font-family: '-apple-system', sans-serif;
    font-size: 30px;
    font-weight: normal;
}
.skillData{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #222;
}

.description {
    width: 90%;
    background-color: #222;
    text-align: center;
    word-wrap: break-word;
    padding: 5px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, .7);
    font-family: '-apple-system', sans-serif;
}

@media screen and (min-height: 800px)and (min-width: 768px) and (max-width: 1200px) {
    .skillsComponent {
        width: 80%;
        height: 420px;
        align-items: center;
        justify-content: center;
        margin: 40px;


    }
}

@media screen  and (max-width: 600px) {
    .skillsComponent {
        width: 260px;
        height: 300px;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;


    }
}