.nav {
  border: 1px solid;
  width: 18em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 10%;
  font-family: 'Livvic', sans-serif;
  font-size: 18px;
  font-weight: 500;

  .active {
    color: #ffb400;

    &:hover {
      color: #ffb400;
    }
  }

  a {
    text-decoration: none;
    color: #fff;

    &:hover {
      color: #ffb400;
    }
  }
}


@media screen and (max-width: 600px) {
  .nav {
    margin: 0;

  }
}
