.footer {
  background-color: #111111;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding-top: 150px;
  @media screen and (max-width: 600px) {
    padding-top: 80px;
  }
  @media screen and (max-height: 500px) {
    padding-top: 60px;
  }

  .footerCont {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .title {
      color: rgba(255, 255, 255, .5);
      margin: 0;
      font-family: 'Livvic', sans-serif;
      font-size: 16px;
      font-weight: 500;
    }

    .footerDiv {
      width: 100%;
      max-width: 500px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;

      .div {
        background-color: #111111;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        box-sizing: border-box;


        &:hover {
          border: 1px solid rgba(255, 255, 255, 0.29);
          transition: all 0.3s ease-in-out;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .a {
          &:hover {
            display: flex;
            justify-content: center;
          }

          .icon {
            width: 100%;
            justify-content: center;
            display: flex;

            &:hover {
              width: 85%;
              transition: all 0.3s ease-in-out;
            }
          ;
          }
        }
      }

      .foot {
        color: rgba(255, 255, 255, .5);
        line-height: 32px;
        margin: 0;
        font-family: 'Livvic', sans-serif;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }

}








