.footer{
    height: 45vh;
    background-color: rgba(141, 159, 239, 0.98);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
.footerCont{
    width: 80%;
    border: 1px solid;
    height: 70%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.title{
    background-color: #c2a6e5;
    margin: 0;
}
.footerDiv{
    background-color: #a8ef13;
    height: 30%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    align-items: center;



}
.div{
    background-color: #c2a6e5;
    width: 15%;
    height: 100%;
}


.foot{
background-color: #c2a6e5;
    margin: 0;
}