.projects{
    height: 100vh;
    background-color: #e59f9f;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;}
.projectsCont{
    width: 80%;
    height: 75%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.title{
    background-color: #c2a6e5;
    margin: 0;
}
.projectsCompCont{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
}
@media screen and (min-height: 800px)and (min-width: 768px) and (max-width: 1200px){
    .projects{
        height: fit-content;
    }
    .projectsCont{
margin-bottom: 16%;
        margin-top: 16%;
    }
    .projectsCompCont{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

}
@media screen  and (max-width: 600px){
    .projects{
        height: fit-content;
    }
    .projectsCont{
        margin-bottom: 16%;
        margin-top: 16%;
    }
    .projectsCompCont{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

}
